html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

input[type="text"] {
  font-size: inherit;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#app ul {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#app ul li {
  display: inline-block;
  margin: 0 10px;
}
#app ul li a {
  text-decoration: none;
}

.twemoji-container,
.lozad-container,
.zoom-blur-container,
.shine-effect-container,
.pswd-gen-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#app .twemoji-container input {
  font-size: inherit;
  width: 90%;
  border: 1px solid #54ACF8;
  height: 30px;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 30px;
}
.twemoji-container .preview {
  flex: 1;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.twemoji-container .preview img {
  display: block;
  max-width: 200px;
  margin: 10px auto;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.twemoji-container .preview img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#app .lozad-container p {
  padding: 0 10px;
}
.lozad-container img.big {
  width: 100%;
}
.lozad-container .fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lozad-container img.logo {
  display: block;
  width: 80%;
  margin: 100px auto;
}

.zoom-blur-container #imagee {
  width: 300px;
  height: 300px;
}
.zoom-blur-container input {
  border: 1px solid #54ACF8;
  width: 200px;
  height: 200px;
}
.zoom-blur-container .btn-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.zoom-blur-container .btn-wrapper button {
  width: 80px;
  text-align: center;
  height: 30px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: #54ACF8;
  color: white;
  margin: 0 20px;
}

.shine-effect-container button {
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
  background-color: cornflowerblue;
  margin-top: 50px;
}
.shine-effect-container button.loading {
  background-color: gray;
}
.shine-effect-container button::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.shine-effect-container button:hover::after {
  opacity: 1;
  top: -30%;
  left: -30%;
}

.v2hot-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.v2hot-container section {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.v2hot-container section img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.v2hot-container section .center {
  flex: 1;
  width: 80%;
}
.v2hot-container section .center p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  width: 90%;
}
.v2hot-container section .center p.title {
  font-size: 15px;
  color: #333;
}
.v2hot-container section .center p.content {
  font-size: 12px;
  margin-top: 6px;
  color: #666;
}
.v2hot-container section span {
  position: absolute;
  right: 10px;
  font-size: 11px;
  color: rgba(253, 130, 130, 0.705);
}

/**
   loading
*/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgba(253, 130, 130, 0.705);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.pswd-gen-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
}

.pswd-gen-container .options {
  width: 100%;
  max-width: 400px;
}

.pswd-gen-container .options .wrapper {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.pswd-gen-container .options .wrapper select {
  width: 120px;
  height: 25px;
  border: 0.5px solid rgba(0,0,0,.075);
}

.pswd-gen-container .options .wrapper label {
  color: gray;
}

.pswd-gen-container .options .wrapper .title {
  width: 80px;
  text-align: right;
  margin-right: 30px;
}

.pswd-gen-container button.generate {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
  height: 36px;
  color: #555;
  box-sizing: border-box;
  font-family: arial,sans-serif;
  font-size: 14px;
  background: -webkit-linear-gradient(top,#ffffff 0%,#eee 100%);
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
  border: 1px #f8f8f8 solid;
}

.pswd-gen-container .ans {
  margin-top: 20px;
  display: table;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.pswd-gen-container .ans input {
  box-sizing: border-box;
  display: table-cell;
  position: relative;
  width: 100%;
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
}

.pswd-gen-container .ans span {
  width: 1%;
  display: table-cell;
  vertical-align: middle;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pswd-gen-container .ans span button {
  margin-left: -1px;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.pswd-gen-container .ans span button .clippy {
  margin-top: -3px;
  position: relative;
  top: 3px;
}

.pswd-gen-container .other-link {
  position: absolute;
  bottom: 50px;
}

.ninja-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ninja-container input {
  width: 80%;
  height: 38px;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 3px 10px 1px rgb(201, 198, 201);
  -moz-box-shadow: 0px 3px 10px 1px rgb(201, 198, 201);
  box-shadow: 0px 3px 10px 1px rgb(201, 198, 201);
}